<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pheonixlabs.srkuruma.fixeddepositor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ItemListActivity"
            android:label="Fixed Deposits"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="Fixed Deposit Details"
            android:parentActivityName=".ItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name=".AddFDPage"
            android:label="Add New Fixed Deposit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UnLockPage"
            android:label="Unlock Manager"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LogInPage"
            android:label="Secure Fixed Deposits"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdatePasswordPage"
            android:label="Password Manager">
        </activity>
        <activity android:name=".UpdateEmailPage"
            android:label="Email Manager">
        </activity>
        <activity android:name=".FilterDialog"
            android:label="Filter"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
    </application>

</manifest>
